{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

    <div class="jumbotron">
        <div class="row">
        	<div class="col-md-2">
        		<img src="/static/vartika.jpg" class="img-responsive img-circle">
        	</div>
        	<div class="col-md-9 col-md-offset-1">
        		<div class="col-md-5">
	        		<h2>Contact Me Via</h2>
	        		<a class="zocial linkedin" href="https://www.linkedin.com/in/vartika-pahuja-3b6774136/">LinkedIn</a>
	        		<a href="https://github.com/VartikaPahuja" class="zocial github">Github</a>
	        	</div>
	        	<div class="col-md-7">
	        		<h2>Or Email Me At</h2>
	        		<h3>vartikapahuja19@gmail.com</h3>
	        	</div>
        	</div>
        </div>
    </div>

{% endblock %}
